
*{
			box-sizing: border-box;
			font-family: 'Helvetica';
		}

		::-webkit-scrollbar {
  			width: 8px;
		}


		::-webkit-scrollbar-track {
  			background: #f1f1f1;
		}


		::-webkit-scrollbar-thumb {
  			background: #888;
		}


		::-webkit-scrollbar-thumb:hover {
  			background: #555;
		}
		header{
			width: 100%;
			height: 10vh;
			background-color: #6ECBD9;
			position: sticky;
			top: 0;
			z-index: 100;
			grid-area: header;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		#title{
			font-size: 2em;
			font-family: 'League Spartan', 'Arial';
		}
		img{
			display: block;
		}
		#editor, #card, #cardcontent{
			display: flex;
		}
		body{
			margin: 0;
			top: 0;
			display: grid;
			grid-template-columns: 30vw 70vw;
			grid-template-rows: 10vh 45vh 45vh;
			justify-items: center;
			grid-template-areas:
			"header header" 
			"editor card"
			"editor card";
		}
		div#editor{
			display: grid;
			grid-template-columns: 5vw 25vw;
			grid-template-rows: 100%;
			grid-template-areas: 
			"nav container";
			overflow: auto;
			grid-area: editor;
			border: 1px solid #422C73;
			width: 100%;
			height: 100%;
			overflow-x: hidden;
		}
		div#card{
			/*grid-area: card;*/
			background-color: white;
			border: 2px solid black;
			width: 437px;
			height: 614px;
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-direction: column;
			/*background: url("https://i.pinimg.com/originals/56/f9/e2/56f9e272de8708a62f2b94d941382415.jpg");*/
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			overflow: hidden;
			z-index: 200;
			
			position: relative;
		}
		#images{
			width: 100%;
			height: 100%;
			grid-area: image;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		#cardcontent1, #cardcontent2{
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: 1.5em;
		}
		.head{
			font-family: 'Edwardian Script ITC';
			font-size: 2em;
		}
		#preview{
			background-color: #F6F6F6;
			width: 100%;
			height: 100%;
			grid-area: card;
			display: flex;
			justify-content: space-around;
			position: relative;
			align-items: center;
			flex-direction: column;
			border-left: 1px solid #422C73;
			background: url("images/previewbg2.jpg");
			background-size: cover; 
		}
		.info{
			width: 100%;
			height: 88vh; 
			overflow-y: auto;
			overflow-x: hidden;
			padding-top: 10px
		}
		.textbox{
			padding-top: 5px;
			padding-left:8px;
			border-radius: 12px; 
			display: block; 
			width: 22vw;
			height: 4vh;
			border: 1px solid black;
			margin-bottom: 3vh;
			overflow-y: auto;
			line-height: 130%;
			outline: 0px solid transparent;
		}
		.cardtext{
			word-wrap: normal;
		}
		h2{
			position: absolute;
			top: 0;
			left: 0;
		}
		label{
			display: block;
			margin-bottom: 1vh;
		}
		
		#location, #message{
			height: 12vh;
		}
		select{
			width: 15vw;
			height: 4vh;
			margin-top: -3px;
			margin-bottom: 3vh;
			margin-right: 40vh;
			padding: 3px;
		}
		button{
			padding: 5px;
			width: 10vw;
			height: 5vh;
			margin-bottom: 5px;
			display: inline-block;
		}
		input[type="color"], input{
			width: 15vw;
			height: 4vh;
			margin-bottom: 3vh;
		}
		#chead, #ctitle, #cbody, #insMessage, #insName1, #insName2{
			word-wrap: normal;
			text-align: center;
		}
		#insMessage, #invited{
			font-size: 1.2em;
		}
		textarea{
			font-size: 1em;
			resize: none;
		}
		#border, #ctext{
			width: 100%;
			height: 100%;
			position: absolute;
			
		}
		#border{
			z-index: 2;
		}
		#ctext{
			z-index: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			padding: 10px;
		}
		.bimg{
			width: 100%;
			height: 100%;
		}
		.imgcontainer{
			width: 20vh;
			height: 20vh;
			display: inline-block;
		}
		.template {
			width: 75%;
			height: 70%;
			display: inline-block;
			cursor: pointer;
			margin-bottom: 2vh;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			transition: all 0.3s ease-out;
		}
		.template:hover{
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
		}
		.tcontainer{
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 0 2vh 2vh 2vh;
			width: 23vh;
			height: 32.522vh;
		}
		a{
			color: white;
			transition: all 0.3s ease-out forwards;
		}
		a:hover, a:active{
			color: grey;
		}
		#overlay{
			position: fixed; 
  			display: none; 
  			width: 100%; 
  			height: 100%; 
  			top: 0;
  			left: 0;
  			right: 0;
  			bottom: 0;
  			background-color: rgba(0,0,0,0.5); 
  			z-index: 110; 
  			cursor: pointer; 
		}
		@keyframes preview {
			0%{
				visibility: hidden;
			}

			90%{
				visibility: hidden;
			}

			100% {
				position: fixed;
				top: 8vw;
				left: 40vw;
				margin: auto;
				transform: scale(1.4);
				visibility: visible;
			}
		}
		@keyframes previewEnd {
			0%{
				visibility: hidden;
			}

			90%{
				visibility: hidden;
			}

			100% {
				position: relative;
				transform: scale(1);
				visibility: visible;
			}
		}

		:root {
			--primary-color: #D96AA7;
			--secondary-color: #C1E679;
			--complimentary-color: #88BFB5;
			--contrast-color: #F2E527;
			--light-color: #D2A9D9;
		}

		.container {
			width: 25vw;
			height: 100%;
  			/*min-height: 100vh;*/
  			font-family: Montserrat, sans-serif;
  			grid-area: container;
  			overflow: auto;
  			
		}

		nav a {
    		font-size: 1.5em;
    		color: #fff;
    		text-decoration: none;
    		padding: 20px 0px;
    		text-align: center;
    		border-bottom: 1px solid #00000055; 
		}

		nav a:nth-child(2), nav a:nth-child(3), nav a:nth-child(4){
			visibility: hidden;
		}

		nav {
			border-right: 1px solid #00000055;
			grid-area: nav;
   			position: fixed;
    		left: 0;
    		z-index: 50;
    		display: flex;
    		justify-content: flex-start;
    		flex-direction: column;
    		height: 90vh;
    		width: 5%;
    		background: var(--secondary-color);
		}

		section {
			padding: 1vh 0 0 1vh;
    		position: absolute;
    		height: 85vh;
    		width: 23vw;
    		opacity: 0;
    		visibility: hidden;
	        transition: all ease-out .3s; 
    		display: flex;
    		justify-content: center;
		} 
		section#first{
			visibility: visible;
			opacity: 1;
			z-index: 10;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

/* Styles applied on trigger */
		section:target {
			visibility: visible;
    		opacity: 1;
    		position: absolute;
    		width: 24.9vw;
    		height: 89vh;
    		z-index: 10;
		}
		@keyframes reveal{
			from{opacity: 0}
			to{opacity: 1}
		}
		@keyframes reveal2{
			0%{
				visibility: visible;
				opacity: 0;
			}
			100%{
				opacity: 1;
			}
		}

		@media screen and (max-width: 600px) {
			body{
				width: 100%;
				height: 100%;
				grid-template-columns: 100vh;
				grid-template-rows: 10vh 80vh 10vh;
				grid-template-areas: 
				"header"
				"card"
				"editor";
				justify-items: left;
			}
			header{
				grid-area: header;
				width: 100vw;
				position: static;
			}
			#editor{
				position: sticky;
				top: 0;
				display: grid;
				grid-template-areas:
				"nav"
				"container" !important;
				grid-template-columns: 100vw !important;
				grid-template-rows: 10vh 100vw !important;
				width: 100vw !important;
				height: 200vw !important;
			}
			nav{
				flex-direction: row;
				width: 100vw;
				height: 10vh;
				justify-content: space-around;
				position: static;
				left: 0;
				overflow-x: hidden;
			}
			.container{
				grid-area: container;
				width: 100vw;
				overflow-x: hidden;
			}

			#card{
				grid-area: card;
			}
			section{
				width: 100vw !important;
				position: static;
				top: 0;
			}
			.info{
				height: 100%;
				width: 100vw;
			}
			#preview{
				width: 100vw;
			}
		}